body {

background-color: #0a2a3b;
}


/*frame*/
.bigcircle0{
	position:absolute;
	width: 66px;
	height: 66px;
	border: 3px #6dbee7;
	opacity:0.9; 
	border-radius: 50%;
  	margin: 0;
  	background: radial-gradient(circle at 100px 100px, #6dbee7, #0a2a3b);
}

.bigcircle2{
	position:absolute;
	width: 66px;
	height: 66px;
	border: 3px #e4ee57; 
	border-radius: 50%;
  	margin: 0;
  	background: radial-gradient(circle at 100px 100px, #dae819, #fafce2);
}


.smallcircle0{
	position:absolute;
	opacity:0.9;
	width: 30px;
	height: 30px;
	border: 3px #15867a; 
	border-radius: 50%;
	margin: 0;
  	background: radial-gradient(circle at 100px 100px, #15867a, #abf1d6);
}

.smallcircle2{
	position:absolute;
	width: 30px;
	height: 30px;
	border: 3px #6dbee7; 
	border-radius: 50%;
	margin: 0;
  	background: radial-gradient(circle at 100px 100px, #6dbee7, #0a2a3b);
}


/*A*/
.lettera{
	position:absolute;
	left:-137px;
	top:200px; 
}


.scl1{
	left:215px;
	top:66px; 
}
.bcl1{
	left:185px;
	top:99px; 
}

.scl2{
	left:338px;
	top:67px; 
}

.bcl2{
	left:335px;
	top:100px; 
}

.bcl3{
	left:204px;
	top:-4px; 
}

.bcl4{
	left:311px;
	top:-4px; 
}

.scl3{
	left:275px;
	top:12px; 
}

.scl4{
	left:232px;
	top:-38px; 
}

.scl5{
	left:319px;
	top:-38px; 
}

.bcl5{
	left: 258px;
	top: -86px;
}

/*I*/ 
.letteri{
	position:absolute;
    left: 361px;
    top: 0px; 
}

.scl6{
	left: 198px;
	top: -5px;
}

.bcl6{
	left: 182px;
	top: 29px;
}

.bcl7{
	left: 182px;
	top: -76px;
}

.scl7{
	left: 198px;
	top: -110px;
}

.bcl8{
	left: 180px;
	top: -179px;
}

/*E*/
.lettere{
	position:absolute;
    left: 512px;
    top: 179px;
}

.scl9{
	left: 198px;
	top: -5px;
}

.bcl9{
	left: 182px;
	top: 29px;
}

.bcl10{
	left: 182px;
	top: -76px;
}

.scl10{
	left: 198px;
	top: -110px;
}

.bcl11{
	left: 180px;
	top: -179px;
}

.scl11{
	left: 251px;
	top: -163px;
}

.bcl12{
	left: 286px;
	top: -179px;
}

.scl12{
	left: 251px;
	top: 51px;
}

.bcl13{
	left: 286px;
	top: 29px;
}

.scl13{
	left: 251px;
	top: -58px;
}

/*H*/

.letterh{
	position:absolute;
    left: 777px;
    top: 71px;
}

.scl14{
	left: 198px;
	top: -5px;
}

.bcl14{
	left: 182px;
	top: 29px;
}

.bcl15{
	left: 182px;
	top: -76px;
}

.scl15{
	left: 198px;
	top: -110px;
}

.bcl16{
	left: 182px;
	top: -180px;
}

.scl16{
	left: 301px;
	top: -5px;
}

.bcl17{
	left: 283px;
	top: 29px;
}

.bcl18{
	left: 283px;
	top: -76px;
}

.scl17{
	left: 301px;
	top: -110px;
}

.bcl19{
	left: 283px;
	top: -180px;
}

.scl18{
	left: 251px;
	top: -58px;
}

/*T*/

.lettert{
	position:absolute;
    left: 1105px;
    top: 234px;
}

.scl19{
	left: 198px;
	top: -5px;
}

.bcl20{
	left: 182px;
	top: 29px;
}

.bcl21{
	left: 182px;
	top: -76px;
}

.scl20{
	left: 198px;
	top: -110px;
}

.bcl22{
	left: 180px;
	top: -179px;
}

.bcl23{
	left: 74px;
	top: -179px;
}

.bcl24{
	left: 286px;
	top: -179px;
}
.scl21{
	left: 145px;
	top: -159px;
}
.scl22{
	left: 251px;
	top: -158px;
}

/*F*/

.letterf{
	position:absolute;
    left: 1026px;
    top: 589px;
}

.scl23{
	left: 201px;
    top: -109px;
}

.bcl25{
	left: 182px;
	top: 29px;
}

.bcl26{
	left: 182px;
	top: -76px;
}

.scl24{
	left: 200px;
    top: -5px;
}

.bcl27{
	left: 180px;
	top: -179px;
}

.scl25{
	left: 251px;
	top: -163px;
}

.bcl28{
	left: 286px;
	top: -179px;
}


.scl27{
	left: 251px;
	top: -58px;
}

/*L*/

.letterl{
	position:absolute;
	left: 9px;
    top: 409px; 
}

.scl28{
	left: 201px;
    top: -109px;
}

.bcl29{
	left: 182px;
	top: 29px;
}

.bcl30{
	left: 182px;
	top: -76px;
}

.scl29{
	left: 200px;
    top: -5px;
}

.bcl31{
	left: 180px;
	top: -179px;
}

.scl30{
	left: 252px;
    top: 50px;
}

.bcl32{
	left: 286px;
	top: 29px;
}

/*P*/
.letterp{
	position:absolute;
	left: 250px;
    top: 373px; 
}

.scl31{
	left: 201px;
    top: -109px;
}

.bcl33{
	left: 182px;
	top: 29px;
}

.bcl34{
	left: 182px;
	top: -76px;
}

.scl32{
	left: 200px;
    top: -5px;
}

.bcl35{
	left: 180px;
	top: -179px;
}

.scl33{
	left: 251px;
	top: -163px;
}

.bcl36{
	left: 286px;
	top: -179px;
}


.scl34{
	left: 251px;
	top: -58px;
}

.scl35{
	left: 308px;
    top: -110px;
}
.bcl37{
	left: 285px;
    top: -75px;
}

/*8*/
.number8{
	position:absolute;
	left: 510px;
    top: 500px; 
}

.scl36{
	left: 201px;
    top: -109px;
}

.bcl38{
	left: 182px;
	top: 29px;
}

.bcl39{
	left: 182px;
	top: -76px;
}

.scl37{
	left: 200px;
    top: -5px;
}

.bcl40{
	left: 180px;
	top: -179px;
}

.scl38{
	left: 251px;
	top: -163px;
}

.bcl41{
	left: 286px;
	top: -179px;
}


.scl39{
	left: 251px;
	top: -58px;
}

.scl40{
	left: 308px;
    top: -110px;
}
.bcl42{
	left: 285px;
    top: -75px;
}

.scl41{
	left: 307px;
    top: -5px;
}
.bcl43{
	left: 285px;
    top: 28px;
}

.scl42{
	left: 251px;
    top: 49px;
}

/*0*/
.number0{
	position:absolute;
    left: 786px;
    top: 399px;
}

.scl43{
	left: 201px;
    top: -109px;
}

.bcl44{
	left: 182px;
	top: 29px;
}

.bcl45{
	left: 182px;
	top: -76px;
}

.scl44{
	left: 200px;
    top: -5px;
}

.bcl46{
	left: 180px;
	top: -179px;
}

.scl45{
	left: 251px;
	top: -163px;
}

.bcl47{
	left: 286px;
	top: -179px;
}

.scl46{
	left: 308px;
    top: -110px;
}
.bcl48{
	left: 285px;
    top: -75px;
}

.scl47{
	left: 307px;
    top: -5px;
}
.bcl49{
	left: 285px;
    top: 28px;
}

.scl48{
	left: 251px;
    top: 49px;
}

/*Z*/
.letterz{
	position:absolute;
    left: 800px;
    top: 743px;
}

.bcl50{
	left: 190px;
    top: 10px;
}

.bcl51{
	left: 240px;
    top: -84px;
}

.scl50{
	left: 235px;
    top: -18px;
}

.bcl52{
	left: 180px;
	top: -179px;
}

.scl51{
	left: 251px;
	top: -163px;
}

.bcl53{
	left: 286px;
	top: -179px;
}

.scl52{
    left: 282px;
    top: -113px;

}

.bcl55{
	left: 296px;
    top: 10px;
}

.scl54{
	left: 261px;
    top: 33px;
}

/*J*/
.letterj{
	position:absolute;
	left: 310px;
    top: 1006px;
}

.scl55{
	left: 201px;
    top: -109px;
}

.bcl56{
	left: 182px;
	top: 29px;
}

.bcl57{
	left: 182px;
	top: -76px;
}

.scl56{
	left: 200px;
    top: -5px;
}

.bcl58{
	left: 180px;
	top: -179px;
}

.scl57{
	left: 251px;
	top: -163px;
}

.bcl59{
	left: 286px;
	top: -179px;
}

.scl58{
	left: 308px;
    top: -110px;
}
.bcl60{
	left: 285px;
    top: -75px;
}

.scl59{
	left: 307px;
    top: -5px;
}
.bcl61{
	left: 285px;
    top: 28px;
}

.scl60{
	left: 251px;
    top: 49px;
}

/*M*/
.letterm{
position:absolute;
    left: 849px;
    top: 2349px;

}

.scl61{
	left: 198px;
	top: 0px;
}

.bcl62{
	left: 180px;
    top: 35px;
}

.bcl63{
	left: 177px;
    top: -70px;
}

.scl62{
	left: 231px;
    top: -119px;
}

.bcl64{
	left: 176px;
    top: -176px;
}

.scl63{
	left: 357px;
    top: 0px;
}

.bcl65{
	left: 340px;
    top: 34px;
}

.bcl66{
	left: 338px;
    top: -71px;
}

.scl64{
	left: 316px;
    top: -120px;
}

.bcl67{
	left: 337px;
    top: -175px;
}

.scl65{
	    left: 193px;
    top: -104px;
}

.bcl68{
	left: 256px;
    top: -105px;
}

.scl66{
	left: 356px;
    top: -106px;
}

/*U*/
.letteru{
	position:absolute;
    left: 553px;
    top: 849px; 
}

.scl67{
	left: 201px;
    top: -109px;
}

.bcl69{
	left: 182px;
	top: 29px;
}

.bcl70{
	left: 182px;
	top: -76px;
}

.scl68{
	left: 200px;
    top: -5px;
}

.bcl71{
	left: 180px;
	top: -179px;
}

.bcl72{
	left: 286px;
	top: -179px;
}

.scl70{
	left: 308px;
    top: -110px;
}
.bcl73{
	left: 285px;
    top: -75px;
}

.scl71{
	left: 307px;
    top: -5px;
}
.bcl74{
	left: 285px;
    top: 28px;
}

.scl72{
	left: 251px;
    top: 49px;
}

/*D*/
.letterd{
	position:absolute;
	left: 1020px;
    top: 1006px; 
}

.scl73{
	left: 201px;
    top: -109px;
}

.bcl75{
	left: 182px;
	top: 29px;
}

.bcl76{
	left: 182px;
	top: -76px;
}

.scl74{
	left: 200px;
    top: -5px;
}

.bcl77{
	left: 180px;
	top: -179px;
}

.scl75{
	left: 251px;
	top: -163px;
}

.bcl78{
	left: 285px;
    top: -167px;
}

.scl76{
	left: 340px;
    top: -110px;
}
.bcl79{
	left: 332px;
    top: -75px;
}

.scl77{
	left: 341px;
    top: -4px;
}
.bcl80{
	left: 283px;
    top: 14px;
}

.scl78{
	left: 251px;
    top: 49px;
}

/*W*/
.letterw{
	position:absolute;
    left: 24px;
    top: 1114px;
}

.scl79{
	left: 198px;
	top: 0px;
}

.bcl81{
	left: 180px;
    top: 35px;
}

.bcl82{
	left: 177px;
    top: -69px;
}

.scl80{
	left: 231px;
    top: -119px;
}

.bcl83{
	left: 176px;
    top: -176px;
}

.scl81{
	left: 357px;
    top: 0px;
}

.bcl84{
	left: 340px;
    top: 34px;
}

.bcl85{
	left: 338px;
    top: -71px;
}

.scl82{
	left: 316px;
    top: 19px;
}

.bcl86{
	left: 337px;
    top: -175px;
}

.scl83{
	    left: 193px;
    top: -104px;
}

.bcl87{
	left: 260px;
    top: -36px;
}

.scl84{
	left: 356px;
    top: -106px;
}

.scl85{
	    left: 240px;
    top: 20px;
}

/*N*/
.lettern{
	position:absolute;
	left:300px;
	top:1400px; 
}

.scl86{
	left: 198px;
	top: 0px;
}

.bcl88{
	left: 180px;
    top: 35px;
}

.bcl89{
	left: 177px;
    top: -69px;
}

.scl87{
	left: 231px;
    top: -119px;
}

.bcl90{
	left: 176px;
    top: -176px;
}

.scl88{
	left: 357px;
    top: 0px;
}

.bcl91{
	left: 340px;
    top: 34px;
}

.bcl92{
	left: 338px;
    top: -71px;
}

.scl89{
	left: 304px;
    top: -43px;
}

.bcl93{
	left: 337px;
    top: -175px;
}

.scl90{
	    left: 193px;
    top: -104px;
}

.bcl94{
	left: 252px;
    top: -100px;
}

.scl91{
	left: 356px;
    top: -106px;
}

/*Y*/
.lettery{
	position:absolute;
    left: 600px;
    top: 1192px;
}

.scl92{
	left: 198px;
	top: 0px;
}

.bcl95{
	left: 180px;
    top: 35px;
}

.bcl96{
	left: 177px;
    top: -69px;
}

.scl93{
	left: 231px;
    top: -119px;
}

.bcl97{
	left: 176px;
    top: -176px;
}

.scl94{
    left: 271px;
    top: 75px;
}

.bcl98{
	left: 340px;
    top: 34px;
}

.bcl99{
	left: 252px;
    top: 6px;
}

.scl95{
	left: 271px;
    top: -29px;
}

.bcl100{
    left: 328px;
    top: -175px;
}

.bcl101{
	left: 252px;
    top: -100px;
}

.scl97{
	left: 310px;
    top: -118px;
}

/*V*/
.letterv{
	position:absolute;
	left:900px;
	top:1400px; 
}

.scl98{
    left: 226px;
    top: -1px;
}

.bcl102{
    left: 233px;
    top: 28px;
}

.bcl103{
    left: 185px;
    top: -66px;
}

.scl99{
    left: 182px;
    top: -96px;
}

.bcl104{
    left: 134px;
    top: -157px;
}

.scl100{
    left: 276px;
    top: -1px;
}

.bcl105{
    left: 283px;
    top: -65px;
}

.bcl106{
	left: 331px;
    top: -158px;
}

.scl101{
    left: 319px;
    top: -96px;
}

/*X*/
.letterx{
	position:absolute;
    left: 83px;
    top: 1434px; 
}

.scl102{
    left: 226px;
    top: -1px;
}

.bcl107{
    left: 233px;
    top: 28px;
}

.bcl108{
    left: 185px;
    top: -66px;
}

.scl103{
    left: 182px;
    top: -96px;
}

.bcl109{
    left: 134px;
    top: -157px;
}

.scl104{
    left: 182px;
    top: -1px;
}

.bcl110{
    left: 142px;
    top: 28px;
}

.bcl111{
    left: 238px;
    top: -158px;
}

.scl106{
    left: 227px;
    top: -96px;
}

/*C*/
.letterc{
	position:absolute;
    left: 60px;
    top: 2650px;
}

.scl107{
	left: 198px;
	top: -5px;
}

.bcl112{
	left: 182px;
	top: 29px;
}

.bcl113{
	left: 182px;
	top: -76px;
}

.scl108{
	left: 198px;
	top: -110px;
}

.bcl114{
	left: 180px;
	top: -179px;
}

.scl109{
	left: 251px;
	top: -163px;
}

.bcl115{
	left: 286px;
	top: -179px;
}

.scl110{
	left: 251px;
	top: 51px;
}

.bcl116{
	left: 286px;
	top: 29px;
}

/*R*/
.letterr{
	position:absolute;
    left: 369px;
    top: 1750px;
}

.scl111{
	left: 201px;
    top: -109px;
}

.bcl117{
	left: 182px;
	top: 29px;
}

.bcl118{
	left: 182px;
	top: -76px;
}

.scl112{
	left: 200px;
    top: -5px;
}

.bcl119{
	left: 180px;
	top: -179px;
}

.scl113{
	left: 251px;
	top: -163px;
}

.bcl120{
	left: 286px;
	top: -179px;
}


.scl114{
	left: 251px;
	top: -58px;
}

.scl115{
	left: 308px;
    top: -110px;
}
.bcl121{
	left: 285px;
    top: -75px;
}

.scl116{
    left: 328px;
    top: -10px;
}
.bcl122{
    left: 334px;
    top: 19px;
}

/*K*/
.letterk{
	position:absolute;
    left: 670px;
    top: 1654px;
}

.scl117{
	left: 201px;
    top: -109px;
}

.bcl123{
	left: 182px;
	top: 29px;
}

.bcl124{
	left: 182px;
	top: -76px;
}

.scl118{
	left: 200px;
    top: -5px;
}

.bcl125{
	left: 180px;
	top: -179px;
}

.scl119{
	left: 251px;
	top: -163px;
}

.bcl126{
    left: 312px;
    top: -177px;
}


.scl120{
	left: 251px;
	top: -58px;
}

.scl121{
    left: 318px;
    top: -108px;
}
.bcl127{
	left: 285px;
    top: -75px;
}

.scl122{
    left: 328px;
    top: -10px;
}
.bcl128{
    left: 334px;
    top: 19px;
}

/*S*/
.letters{
	position:absolute;
    left: 1083px;
    top: 1595px;
}

.scl123{
    left: 201px;
    top: -131px
}

.bcl129{
    left: 205px;
    top: 48px;
}

.bcl130{
    left: 185px;
    top: -97px;
}

.scl124{
    left: 183px;
    top: 32px;
}

.bcl131{
    left: 216px;
    top: -190px;
}

.scl125{
    left: 287px;
    top: -163px;
}

.bcl132{
	left: 286px;
	top: -179px;
}


.scl126{
	left: 251px;
	top: -58px;
}

.scl127{
    left: 275px;
    top: 58px;
}
.bcl133{
	left: 285px;
    top: -75px;
}

.scl128{
    left: 328px;
    top: -10px;
}
.bcl134{
    left: 308px;
    top: 25px;
}

/*O*/
.lettero{
	position:absolute;
	left:20px;
    top:  2289px;
}

.scl129{
	left: 181px;
    top: -109px;
}

.bcl135{
	left: 182px;
	top: 29px;
}

.bcl136{
	left: 153px;
	top: -76px;
}

.scl130{
	left: 184px;
    top: -5px;
}

.bcl137{
	left: 180px;
	top: -179px;
}

.scl131{
	left: 251px;
	top: -163px;
}

.bcl138{
	left: 286px;
	top: -179px;
}

.scl132{
	left: 323px;
    top: -110px;
}
.bcl139{
	left: 319px;
    top: -75px;
}

.scl133{
	left: 321px;
    top: -5px;
}
.bcl140{
	left: 285px;
    top: 28px;
}

.scl134{
	left: 251px;
    top: 49px;
}


/*Q*/
.letterq{
	position:absolute;
	left: 298px;
    top: 2134px;
}

.scl135{
	left: 181px;
    top: -109px;
}

.bcl141{
	left: 182px;
	top: 29px;
}

.bcl142{
	left: 153px;
	top: -76px;
}

.scl136{
	left: 184px;
    top: -5px;
}

.bcl143{
	left: 180px;
	top: -179px;
}

.scl137{
	left: 251px;
	top: -163px;
}

.bcl144{
	left: 286px;
	top: -179px;
}

.scl138{
	left: 323px;
    top: -110px;
}
.bcl145{
	left: 319px;
    top: -75px;
}

.scl139{
	left: 321px;
    top: -5px;
}
.bcl146{
	left: 285px;
    top: 28px;
}

.scl140{
	left: 251px;
    top: 49px;
}

.scl141{
    left: 334px;
    top: 90px;
}

.scl142{
    left: 268px;
    top: 0px;
}


/*G*/
.letterg{
	position:absolute;
    left: 587px;
    top: 2134px;
}

.scl143{
	left: 181px;
    top: -109px;
}

.bcl147{
	left: 182px;
	top: 29px;
}

.bcl148{
	left: 153px;
	top: -76px;
}

.scl144{
	left: 184px;
    top: -5px;
}

.bcl149{
	left: 180px;
	top: -179px;
}

.scl145{
	left: 251px;
	top: -163px;
}

.bcl150{
	left: 286px;
	top: -179px;
}

.scl146{
	left: 323px;
    top: -110px;
}
.bcl151{
	left: 319px;
    top: -75px;
}

.scl147{
	left: 321px;
    top: -5px;
}
.bcl152{
	left: 285px;
    top: 28px;
}

.scl148{
	left: 251px;
    top: 49px;
}

.scl149{
    left: 334px;
    top: 90px;
}

.scl150{
    left: 280px;
    top: -58px;
}

/*B*/
.letterB{
	position:absolute;
    left: 857px;
    top: 1969px;
}

.scl151{
	left: 201px;
    top: -109px;
}

.bcl153{
	left: 182px;
	top: 29px;
}

.bcl154{
	left: 182px;
	top: -76px;
}

.scl152{
	left: 200px;
    top: -5px;
}

.bcl155{
	left: 180px;
	top: -179px;
}

.scl153{
	left: 251px;
	top: -163px;
}

.bcl156{
	left: 286px;
	top: -179px;
}


.scl154{
	left: 251px;
	top: -58px;
}

.scl155{
	left: 308px;
    top: -110px;
}
.bcl157{
	left: 285px;
    top: -75px;
}

.scl156{
    left: 341px;
    top: -5px;
}
.bcl158{
	left: 285px;
    top: 28px;
}

.scl157{
	left: 251px;
    top: 49px;
}

/*1*/ 
.number1{
	position:absolute;
    left: 1225px;
    top: 2134px;
}

.scl158{
	left: 198px;
	top: -5px;
}

.bcl159{
	left: 182px;
	top: 29px;
}

.bcl160{
	left: 182px;
	top: -76px;
}

.scl159{
	left: 198px;
	top: -110px;
}

.bcl161{
	left: 180px;
	top: -179px;
}

.scl160{
    left: 128px;
    top: -128px;
}

/*2*/
.number2{
	position:absolute;
    left: 1072px;
    top: 2704px;
}

.bcl162{
	left: 190px;
    top: 10px;
}

.bcl163{
	left: 240px;
    top: -84px;
}

.scl161{
	left: 235px;
    top: -18px;
}

.bcl164{
	left: 180px;
	top: -179px;
}

.scl162{
    left: 251px;
    top: -177px;
}

.bcl165{
	left: 286px;
	top: -179px;
}

.scl163{
    left: 295px;
    top: -107px;

}

.bcl166{
	left: 296px;
    top: 10px;
}

.scl164{
	left: 261px;
    top: 33px;
}

.scl165{
    left: 179px;
    top: -109px;
}
/*3*/

.number3{
	position:absolute;
     left: 39px;
    top: 753px;
}

.bcl167{
	left: 190px;
    top: 10px;
}

.bcl168{
	left: 240px;
    top: -84px;
}

.scl166{
    left: 298px;
    top: -24px;
}

.bcl169{
	left: 180px;
	top: -179px;
}

.scl167{
    left: 251px;
    top: -164px;
}

.bcl170{
	left: 286px;
	top: -179px;
}

.scl168{
    left: 295px;
    top: -107px;

}

.bcl171{
	left: 296px;
    top: 10px;
}

.scl169{
	left: 261px;
    top: 33px;
}

.scl170{
    left: 179px;
    top: -109px;
}

/*4*/ 
.number4{
	position:absolute;
    left: 618px;
    top: 2463px;
}

.scl171{
	left: 198px;
	top: -5px;
}

.bcl172{
	left: 182px;
	top: 29px;
}

.bcl173{
	left: 182px;
	top: -76px;
}

.scl172{
	left: 198px;
	top: -110px;
}

.bcl174{
	left: 180px;
	top: -179px;
}

.scl173{
    left: 128px;
    top: -128px;
}

.scl174{
    left: 255px;
    top: -39px;
}

.bcl175{
    left: 67px;
    top: -108px;
}

.scl175{
    left: 143px;
    top: -59px;
}

/*7*/

.number7{
	position:absolute;
    left: 261px;
    top: 2519px;
}

.bcl176{
    left: 195px;
    top: 17px;

}

.bcl177{
    left: 241px;
    top: -84px;
}

.scl176{
    left: 237px;
    top: -15px;

}

.bcl178{
	left: 180px;
	top: -179px;
}

.scl177{
    left: 252px;
    top: -158px;
}

.bcl179{
	left: 286px;
	top: -179px;
}

.scl178{
    left: 282px;
    top: -114px;

}

.bcl180{
	left: 296px;
    top: 10px;
}

.scl179{
	left: 261px;
    top: 33px;
}

/*6*/
.number6{
	position:absolute;
    left: 106px;
    top: 1780px;
}

.scl180{
	left: 201px;
    top: -109px;
}

.bcl181{
	left: 182px;
	top: 29px;
}

.bcl182{
	left: 182px;
	top: -76px;
}

.scl181{
	left: 200px;
    top: -5px;
}

.bcl183{
	left: 180px;
	top: -179px;
}

.scl182{
	left: 251px;
	top: -163px;
}

.bcl184{
	left: 286px;
	top: -179px;
}

.scl183{
 	left: 252px;
    top: -60px;

}
.bcl185{
	left: 285px;
    top: -75px;
}

.scl184{
	left: 307px;
    top: -5px;
}
.bcl186{
	left: 285px;
    top: 28px;
}

.scl185{
	left: 251px;
    top: 49px;
}

/*5*/
.number5{
	position:absolute;
    left: 72px;
    top: 2990px;
}

.scl186{
	left: 201px;
    top: -109px;
}

.bcl187{
	left: 182px;
	top: 29px;
}

.bcl188{
	left: 182px;
	top: -76px;
}

.scl187{
	left: 200px;
    top: -5px;
}

.bcl189{
	left: 180px;
	top: -179px;
}

.scl188{
	left: 251px;
	top: -163px;
}

.bcl190{
	left: 286px;
	top: -179px;
}

.scl189{
 	left: 252px;
    top: -60px;

}
.bcl191{
	left: 285px;
    top: -75px;
}

.scl190{
	left: 307px;
    top: -5px;
}
.bcl192{
	left: 285px;
    top: 28px;
}

.scl191{
	left: 251px;
    top: 49px;
}

/*9*/
.number9{
	position:absolute;
    left: 321px;
    top: 2846px;
}

.scl192{
	left: 201px;
    top: -109px;
}

.bcl193{
	left: 182px;
	top: 29px;
}

.bcl194{
	left: 182px;
	top: -76px;
}

.scl193{
    left: 306px;
    top: -110px;
}

.bcl195{
	left: 180px;
	top: -179px;
}

.scl194{
	left: 251px;
	top: -163px;
}

.bcl196{
	left: 286px;
	top: -179px;
}

.scl195{
 	left: 252px;
    top: -60px;

}
.bcl197{
	left: 285px;
    top: -75px;
}

.scl196{
	left: 307px;
    top: -5px;
}
.bcl198{
	left: 285px;
    top: 28px;
}

.scl197{
	left: 251px;
    top: 49px;
}

/*punctuation*/

/*!*/ 
.punctuation01{
	position:absolute;
    left: 589px;
    top: 2846px;
}

.scl198{
	left: 198px;
	top: -5px;
}

.bcl199{
	left: 182px;
	top: 29px;
}

.bcl200{
	left: 182px;
	top: -76px;
}

.scl199{
	left: 198px;
	top: -110px;
}

.bcl201{
	left: 180px;
	top: -179px;
}

.scl200{
    left: 200px;
    top: 146px;
}

/*.*/

.punctuation02{
	position:absolute;
    left: 700px;
    top: 2846px;
}

.scl201{
    left: 200px;
    top: 146px;
}


/*?*/

.punctuation03{
	position:absolute;
    left: 803px;
    top: 2922px;
}

.bcl202{
	left: 190px;
    top: 10px;
}

.bcl203{
	left: 240px;
    top: -84px;
}

.scl202{
 	left: 259px;
    top: 145px;

}

.bcl204{
	left: 180px;
	top: -179px;
}

.scl203{
    left: 251px;
    top: -164px;
}

.bcl205{
	left: 286px;
	top: -179px;
}

.scl204{
    left: 295px;
    top: -107px;

}

.bcl206{
    left: 241px;
    top: 26px;
}

.scl205{
    left: 258px;
    top: -12px;

}

.scl206{
    left: 179px;
    top: -109px;
}

/*"*/

.punctuation04{
	position:absolute;
    left: 583px;
    top: 2734px;
}

.scl207{
    left: 373px;
    top: -109px;
}

.scl208{
    left: 417px;
    top: -109px;
}

.scl209{
left: 387px;
    top: -150px;
}

.scl210{
 	left: 435px;
    top: -151px;

}

/*"*/

.punctuation05{
	position:absolute;
    left: 559px;
    top: 2734px;
}

.scl211{
    left: 538px;
    top: -109px;
}

.scl212{
    left: 584px;
    top: -109px;
}

.scl213{
    left: 570px;
    top: -148px;
}

.scl214{
 	left: 526px;
    top: -149px;

}


/*Animation*/

.bigcircle0{
  animation: stretch 4s ease-out 0s alternate infinite none running;
}

.smallcircle0 {
  animation: stretch 1.5s ease-out 0.3s alternate infinite none running;
}

.smallcircle2 {
  animation: stretch 0.9s ease-out 0.5s alternate infinite none running;
}

.bigcircle2 {
  animation: stretch 1s ease-out 0.5s alternate infinite none running;
}



.number0:hover {
	animation: stretch 2s ease-out 0.1s alternate infinite none running;
	background: radial-gradient(circle at 100px 100px, red, yellow);
}

.number2:hover {
	animation: stretch 2s ease-out 0.1s alternate infinite none running;
	background: radial-gradient(circle at 100px 100px, red, yellow);
}

.number3:hover {
	animation: stretch 2s ease-out 0.1s alternate infinite none running;
	background: radial-gradient(circle at 100px 100px, red, yellow);
}

.number4:hover {
	animation: stretch 2s ease-out 0.1s alternate infinite none running;
	background: radial-gradient(circle at 100px 100px, red, yellow);
}

.number6:hover {
	animation: stretch 2s ease-out 0.1s alternate infinite none running;
	background: radial-gradient(circle at 100px 100px, red, yellow);
}

.number5:hover {
	animation: stretch 2s ease-out 0.1s alternate infinite none running;
	background: radial-gradient(circle at 100px 100px, red, yellow);
}

.number7:hover {
	animation: stretch 2s ease-out 0.1s alternate infinite none running;
	background: radial-gradient(circle at 100px 100px, red, yellow);
}

.number8:hover {
	animation: stretch 2s ease-out 0.1s alternate infinite none running;
	background: radial-gradient(circle at 100px 100px, red, yellow);
}

.number4:hover {
	animation: stretch 2s ease-out 0.1s alternate infinite none running;
	background: radial-gradient(circle at 100px 100px, red, yellow);
}

.number9:hover {
	animation: stretch 2s ease-out 0.1s alternate infinite none running;
	background: radial-gradient(circle at 100px 100px, red, yellow);
}


@keyframes stretch {

0% {
    transform: scale(.3);
    background-color: black;
    border-radius: 100%;
}

50% {
    background-color: #b2b2b2;
}

100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    background-color: #eee;
} 


@keyframes pulse {
  0%, 100% {
    background-color: red;
  }
  50% {
    background-color: orange;
  }
}

@keyframes nudge {
  0%, 100% {
    transform: translate(0, 0);
  }
  
  50% {
    transform: translate(150px, 0);
  }
  
  80% {
    transform: translate(-150px, 0);
  }
}





















